gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# fastlane
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/test_output
# never commit Play service-account keys
/fastlane/*.json
